{% extends 'adminlte/login.html' %}
{% load bootstrap4 %}

{% block logo %}
  <div class="login-logo">
    <a href="#">{% block logo_text %}<strong>E</strong>-Diaristas{% endblock logo_text %}</a>
  </div>
{% endblock logo %}

{% block login_form %}
  {% if validlink %}
    <div class="row">
      <div class="col">
        <div class="card card-primary">
          <div class="card-header">
            <div class="card-title">
              Criar nova senha
            </div>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}

              {% bootstrap_form form %}

              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock login_form %}