{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
  {% if request.resolver_match.url_name == 'cadastrar-usuario' %}
    Cadastro
  {% else %}
    Edição
  {% endif %}
    de Usuário
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="card card-primary">
        <div class="card-header">
          <div class="card-title">
            {% if request.resolver_match.url_name == 'cadastrar-usuario' %}
              Cadastro
            {% else %}
              Edição
            {% endif %}
              de Usuário
          </div>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}

            {% bootstrap_form form %}

            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}